body{
text-align: center;
margin: 0;
font-family: 'Source Sans Pro', sans-serif;
color: #545454;
}

h1{
  font-family: 'Parisienne', cursive;
  font-size: 468%;
  color:#F97777;

}
h2{
  font-family: 'Karla', sans-serif;
    color:#F97777;
    font-size: 200%;
}

h3{
  font-family: 'Karla', sans-serif;
  color: #FA9191;
  font-size: 150%;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: #ffd3b6;
  border-top-width: thick;
  width: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}
p{
  font-size: 100%;
  line-height: 2;
}
.top-container{
  background-color: #FEEFEB;
  position: relative;
    height: 700px;
    padding-top: 50px;
    padding-bottom: 125px;
}
.middle-container{
  margin: 100px 0 0 0;
}

.bottom-container{
background-color: #FA9191;
position: relative;
padding-top: 30px;



}


.web{
  text-decoration:underline;

}
.city{
  position:relative;
  margin-bottom: 25px;

}
.sun-and-clouds{
  position: absolute;

}
.left-cloud{
  position: absolute;
      margin-top: 100px;
      margin-left: 600px;
}
.MyFavicon2{
  height: 300px;
  width: auto;

}
.first-paragraph{
  height: auto;
  width: 50%;
  margin: auto;

}
.Ratings{
position: relative;
height: auto;
width:35%;
float: left;
margin-right: 30px;
}

.teacher{
  position: relative;
  height: auto;
  width:35%;
  float: right;
  margin-left: 30px;

}

.footer-link{
  color: #ffd3b6;
  margin: 15px;
}
.copy-right{
  color: #ffd3b6;
margin: 0;
}

.title{
  font-weight: normal;
}

.button{
 background-color: #F97777;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 20px 2px;
 cursor: pointer;
}

.skill-row{
  height: auto;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
